.navbar{
    background: #343a40;
}
.navbar .navbar-brand{
    color: #fff;
}
.navbar .navbar-link{
    color: #fff !important;
    text-decoration: none !important;
     margin-right: 20px;
}
@media (max-width:786px){
    .navbar .navbar-link{
        margin-right: 0;
    }


}